{% set powerdns = salt['pillar.get']('powerdns', {
    'lookup': salt['grains.filter_by']({
        'Debian': {
            'pkg': 'pdns-server',
            'pkg_recursor': 'pdns-recursor',
            'config_file': '/etc/powerdns/pdns.conf',
            'config_file_recursor': '/etc/powerdns/recursor.conf',
            'service': 'pdns',
            'service_recursor': 'pdns-recursor',
            'backend_geoip_pkg': 'pdns-backend-geoip',
            'backend_ldap_pkg': 'pdns-backend-ldap',
            'backend_lua_pkg': 'pdns-backend-lua',
            'backend_mydns_pkg': 'pdns-backend-mydns',
            'backend_mysql_pkg': 'pdns-backend-mysql',
            'backend_odbc_pkg': 'pdns-backend-odbc',
            'backend_opendbx_pkg': 'pdns-backend-opendbx',
            'backend_pgsql_pkg': 'pdns-backend-pgsql',
            'backend_pipe_pkg': 'pdns-backend-pipe',
            'backend_remote_pkg': 'pdns-backend-remote',
            'backend_sqlite3_pkg': 'pdns-backend-sqlite3',
        },
        'RedHat': {
            'pkg': 'pdns',
            'pkg_recursor': 'pdns-recursor',
            'config_file': '/etc/pdns/pdns.conf',
            'config_file_recursor': '/etc/powerdns/recursor.conf',
            'service': 'pdns',
            'service_recursor': 'pdns-recursor',
            'backend_geoip_pkg': 'pdns-backend-geoip',
            'backend_ldap_pkg': 'pdns-backend-ldap',
            'backend_lua_pkg': 'pdns-backend-lua',
            'backend_mydns_pkg': 'pdns-backend-mydns',
            'backend_mysql_pkg': 'pdns-backend-mysql',
            'backend_odbc_pkg': 'pdns-backend-odbc',
            'backend_opendbx_pkg': 'pdns-backend-opendbx',
            'backend_pgsql_pkg': 'pdns-backend-pgsql',
            'backend_pipe_pkg': 'pdns-backend-pipe',
            'backend_remote_pkg': 'pdns-backend-remote',
            'backend_sqlite3_pkg': 'pdns-backend-sqlite3',
        },
        'Suse': {
            'pkg': 'pdns',
            'pkg_recursor': 'pdns-recursor',
            'config_file': '/etc/pdns/pdns.conf',
            'config_file_recursor': '/etc/powerdns/recursor.conf',
            'service': 'pdns',
            'service_recursor': 'pdns-recursor',
            'backend_geoip_pkg': 'pdns-backend-geoip',
            'backend_ldap_pkg': 'pdns-backend-ldap',
            'backend_lua_pkg': 'pdns-backend-lua',
            'backend_mydns_pkg': 'pdns-backend-mydns',
            'backend_mysql_pkg': 'pdns-backend-mysql',
            'backend_odbc_pkg': 'pdns-backend-odbc',
            'backend_opendbx_pkg': 'pdns-backend-opendbx',
            'backend_pgsql_pkg': 'pdns-backend-pgsql',
            'backend_pipe_pkg': 'pdns-backend-pipe',
            'backend_remote_pkg': 'pdns-backend-remote',
            'backend_sqlite3_pkg': 'pdns-backend-sqlite3',
        },
    }),
    'config': salt['grains.filter_by']({
        'Debian': {
            'config-dir': '/etc/powerdns',
            'setgid': 'pdns',
            'setuid': 'pdns',
            'launch': '',
        },
        'RedHat': {
            'daemon': 'no',
            'guardian': 'no',
            'setgid': 'pdns',
            'setuid': 'pdns',
            'launch': '',
        },
    }),
    'recursor': {
    },
    'repo': {
        'release': '40',
        'keyid': '1B0C6205FD380FBB',
    },
}, merge=True) %}
